﻿Content-Type: text/html; charset=utf-8

<div>
    <h2>
        @ViewBag.Source
    </h2>
    <p>
        <strong>User:</strong> @ViewBag.User
    </p>
    <p>
        @ViewBag.Message
    </p>
    <hr />
    <h4>
        Stack Trace:
    </h4>
    <pre>
@ViewBag.StackTrace
    </pre>
    @if (ViewBag.InnerException != null)
    {
        Exception InnerException = (Exception)ViewBag.InnerException;
        <div>
            <hr />
            <h4>
                Inner Exception:
            </h4>
            <h2>
                @ViewBag.Source
            </h2>
            <p>
                @InnerException.Message
            </p>
        </div>
    }
</div>
