﻿@using mobile.web.Models
@model Lecture
@{
    Layout = null;
    var Uri = string.Format("https://www.kimep.kz/ext/mobile/api/media/play/{0}/{1}", Model.ID, Path.GetFileName(Model.Path));
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style type="text/css">
        video#mainPlayer {
            position: fixed;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -100;
            background-size: cover;
        }
    </style>
</head>
<body>
    <video id="mainPlayer" autoplay="autoplay" controls="controls">
        <source src="@(Uri)" />
    </video>
</body>
</html>
