﻿@{
    ViewBag.Title = "Политика конфиденциальности";
}

<h2>@ViewBag.Title</h2>

<hr />

<p>
    В целях сохранения конфиденциальности мы не предоставляем Ваши личные данные.
</p>

<p>
    В целях сохранения конфиденциальности Вашей личной информации мы принимаем 
    необходимые и достаточные организационные и технические меры безопасности, 
    сводящие к минимуму несанкционированный доступ к Вашей персональной 
    информации или ее раскрытию. В частности, мы используем SSL - шифрование 
    для защиты персональных сведений. 
</p>
